dist: bionic

language: php

php: "7.4"

install:
  - composer install

script:
  - composer build

deploy:
  provider: pages
  local_dir: public
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master

notifications:
  email: false

# Pull requests are built by default.
branches:
  only:
  - master